@charset "utf-8";

/*
    Author: JMP
    File Name: ba_unit_pages_styling.css
*/

/* HTML & Body Stylings */

html {
    background-image: url(images/ba_background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

body {
    line-height: 1.1;
    background: linear-gradient(to right, black, red);
    border-right: solid gold 5px;
    border-left: solid gold 5px;

}

/* Navigation Stylings */

div#landing_pages {
    border: solid black 10px;
    border-radius: 22px;
    background-image: url(images/smoke_marble_landscape.jpg);
    text-indent: 1px;
}

div#strike_force_pages {
    border: solid black 10px;
    border-radius: 22px;
    background-image: url(images/gold_marble_portait.jpg);
    text-indent: 15px;
}

a {
    text-decoration: none;
    color: silver;
    font-size: 1.5em;
    font-weight: bolder;
}

/* Div Stylings */

div.units > p {
    border: solid black 5px;
    border-radius: 15px;  
    background-color: black;
    text-indent: 15px;
    color: rgb(230, 195, 0);
    font-size: 1.5em;
    font-family: 'Carrois Gothic SC', sans-serif;
}

div.stats {
    background-color: yellow;
}

div.units figure figcaption {
    font-family: 'Encode Sans Expanded', sans-serif;
}

/* Image Stylings */

figure.strike_force_banner figcaption {
    font-size: 2.1em;
}

article> div.units figure figcaption {
    font-size: 2.1em;
    color: gold;
}
